@font-face {
  font-family: 'CopperPlate';
  src: url("styles/fonts/CopperplateRegular.ttf")format('truetype')
}

@font-face {
  font-family: 'GMarketBold';
  src: url("styles/fonts/GmarketSansTTFBold.ttf")format('truetype')
}

@font-face {
  font-family: 'GMarketMedium';
  src: url("styles/fonts/GmarketSansTTFMedium.ttf")format('truetype')
}

@font-face {
  font-family: 'GMarketLight';
  src: url("styles/fonts/GmarketSansTTFLight.ttf")format('truetype')
}


.App {
  text-align: center;
  background-color: rgb(240, 240, 240);
}

.home-nav {
  /* border: 2px solid black; */
  width: 98%;
  background: none;
  position: fixed;
  display: flex;
  color: black;
  padding: 0.5em;
  font-weight: 500;
  font-size: 2vw;
  justify-content: flex-end;
  background-color: rgb(240, 240, 240);
}

.navbar-menu{
  /* border: 2px solid red; */
  font-family: GMarketMedium;
  justify-content: flex-end;
  display: flex;
  justify-content: space-between;
  width: 40%;
}


.navbar-menu .menu:hover{
  color:rgb(162, 31, 202);
}

.home_body{
  display: flex;
  padding-top: 5rem;
  justify-content: space-evenly;
  align-items: center;
  
}

.home_image{
  /* border: 2px solid red; */
  display: flex;
  width: 40%;
  height: 40%;
  padding-bottom: 5em;
}

.home_name{
  /* border: 2px solid black; */
  flex-direction: column;
  letter-spacing: 10px;

}

.name{
  /* border: 2px solid green; */
  display: flex;
  font-family: "CopperPlate";
  font-size: 7vw;
  font-weight: 1000;
}

.portfolio{
  display: flex;
  font-family: "CopperPlate";
  font-size: 3vw;
  font-weight: 1000;
}

.profile{
  /* border: 2px solid red; */
  background-color: white;
  padding: 15%;
}


.heading{
  color:rgb(162, 31, 202);
  display: flex;
  font-size: 1.5rem;
  font-family: GMarketBold;
  padding-bottom: 1em;
}

.subheading{
  display: flex;
  color:rgb(0, 0, 0);
  padding-right: 15px;
  font-size: 2.5rem;
  font-family: GMarketMedium;
}

.university{
  display:flex;
  color:rgb(104, 104, 104);
  font-family: "GMarketMedium";
  font-size: 1rem;
  padding-bottom: 5em;
}

.hanna_info{
  display:flex;
  font-family: GMarketMedium;
  color:rgb(104, 104, 104);
  font-size: 1rem;
  padding: 3px;
}

.skill{
  display: flex;
  justify-content: space-evenly;
}

.skills, .contact{
  background-color: rgb(240, 240, 240);
  padding: 150px;
  font-family: GMarketMedium;
  color:rgb(104, 104, 104);
  font-size: 1rem;
}

.skill{
  width: 100%;
  flex-wrap: wrap;
}

.skill_img{
  width: 10rem;
  height: 10rem;
}

.skill_name{
  /* border: 2px solid black; */
  flex-direction: column;
  width: 10em;
  height: 10em;
  font-size: 1rem;
  width: 10rem;
  height: 10rem;
  margin: 1rem;
}

.profile_subheading_backend{
  display: flex;
  color:rgb(0, 0, 0);
  padding-top: 3em;
  padding-right: 15px;
  font-size: 2.5rem;
  font-family: GMarketMedium;
}

.project{
  display: flex;
  justify-content: space-between;
}

.project2{
  display: flex;
  justify-content: space-between;
  padding-top: 5em;
}

.todo_left{
  display: flex;
}

.baemin_mockup{
  width: 60%;
  height: 60%;
}

.todo_mockup{
  border: 2px solid red;
  width: 70%;
  height: 90%;
}

.todo_mockup2{
  display: none;
}

.higom_mockup{
  width: 40%;
  height: 40%;
}

.projects_info{
  padding-top: 3em;
  display:flex;
  color:rgb(104, 104, 104);
  font-family: "GMarketMedium";
  font-size: 1rem;
  padding-bottom: 2em;
  width: 150%;
}

.projects_smallinfo{
  display:flex;
  color:rgb(92, 92, 92);
  font-family: "GMarketMedium";
  font-size: 0.9rem;
  height: 30px;
  width: 150%;
}

.button{
  display: flex;
  height: 15%;
  padding-top: 1em;
}

.project_button, .project_button_not{
  width: 7em;
  height: 4em;
  border: none;
  border-radius: 2rem;
  background-color: rgb(192, 192, 192);
  margin-right: 5px;
  color: white;
  font-family: "GMarketMedium";
  font-size: 1rem;
}

.project_button:hover{
  width: 100%;
  border: none;
  border-radius: 2rem;
  background-color: rgb(162, 31, 202);
  margin-right: 5px;
  color: white;
  font-family: "GMarketMedium";
  font-size: 1rem;
}

.project_button_not:hover{
  width: 100%;
  border: none;
  border-radius: 2rem;
  background-color: rgb(202, 31, 31);
  margin-right: 5px;
  color: white;
  font-family: "GMarketMedium";
  font-size: 1rem;
}

.container{
  /* border: 2px solid red; */
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.contact_info{
  /* border: 2px solid black; */
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.contact_reach{
  padding: 2em;
  color:rgb(162, 31, 202);
}

.contact1{
  /* border: 3px solid green; */
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.contact_ex{
  display: flex;
}

.contact-form{
  flex-direction: column;
  font-family: "GMarketMedium";
  font-size: 1rem;
}

.form-control{
  display:flex;
  width: 40vw;
  height: 3em;
  margin: 1em;
  font-family: "GMarketMedium";
  font-size: 0.9rem;
}

.form-control_mail{
  display:flex;
  width: 40vw;
  height: 12em;
  margin: 1em;
  font-family: "GMarketMedium";
  font-size: 0.9rem;
}

.contact_send{
  display: flex;
}

.sendButton{
  display:flex;
  width: 40vw;
  height: 3em;
  margin: 1em;
  font-family: "GMarketMedium";
  font-size: 0.9rem;
  justify-content: center;
  border: none;
  background-color: rgb(162, 31, 202);
  color: white;
}



@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (max-width: 1000px){
  .project{
    flex-direction: column;
  }

  .baemin_mockup{
    width: 90%;
    height: 90%;
  }

  

  .project_button,.project_button_not{
    width: 6em;
    height: 3em;
    margin-bottom: 3em;
  }
}


@media (max-width: 700px){
  .home_image{
    width: 70%;
    height: 70%;
  }

  .home_body{
    flex-direction: column;
  }

  .profile{
    /* border: 2px solid red; */
    background-color: white;
    padding: 3%;
    padding-top: 5em;
    padding-bottom: 5em;
  }

  .skills, .contact{
    background-color: rgb(240, 240, 240);
    padding: 3%;
    padding-top: 5em;
    padding-bottom: 5em;
  }

  .container{
    flex-direction: column;
  }

  .home_name{
    padding-bottom: 5rem;
  }

  .name{
    font-size: 10vw;
  }

  .portfolio{
    font-size: 5vw;
  }
  
  .navbar-menu{
    /* border: 2px solid red; */
    font-family: GMarketMedium;
    display: flex;
    justify-content: center;
    font-size: 1rem;
    width: 100%;
  }

  .skill{
    /* border: 2px solid black; */
    width: 100%;
    flex-wrap: wrap;

  }

  .skill_name{
    /* border: 2px solid rgb(44, 44, 44); */
    width: 10rem;
    height: 10rem;
    font-size: 0.8rem;
    margin: 1rem;
  }

  .skill_img{
    width: 10rem;
    height: 10rem;
  }

  .project2{
    flex-direction: column;
  }

  .todo_mockup{
    display: none;
  }

  .mockUp_img{
    display: flex;
    justify-content: center;
  }

  .todo_mockup2, .higom_mockup{
    display: flex;
    width: 80%;
    height: 80%;
  }

  .form-control{
    width: 80vw;
  }
  
  .form-control_mail{
    width: 80vw;
  }
  
  .sendButton{
    width: 80vw;
  }

}

